* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  color: #fff;
  background: #000;
}

@media (min-width: 992px) {
  body {
    font-size: 20px;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

h1 {
  font-size: 50px;
  margin: 0 0 25px 0;
}

h2 {
  font-size: 40px;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 35px;
  margin: 0 0 15px 0;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-strech {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

@media (min-width: 992px) {
  .text-center-lg {
    text-align: center;
  }

  .relative-lg {
    position: relative;
  }

  .d-flex-lg {
    display: flex;
  }

  .flex-column-lg {
    flex-direction: column;
  }

  .justify-center-lg {
    justify-content: center;
  }

  .space-evenly-lg {
    justify-content: space-evenly;
  }

  .space-around-lg {
    justify-content: space-around;
  }

  .space-between-lg {
    justify-content: space-between;
  }

  .align-center-lg {
    align-items: center;
  }

  .align-strech-lg {
    align-items: stretch;
  }

  .align-end-lg {
    align-items: flex-end;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

